# Core Python ML Stack
numpy==1.22.0
pandas
scikit-learn==1.6.1
matplotlib
seaborn
xgboost
python-dotenv
fastapi
uvicorn[standard]

# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# ML API Service
fastapi
uvicorn

# Tools & Utilities
requests
joblib
tqdm
